// ===================FOOTER=========================

.container-footer
  max-width: 1190px
  padding: 0 15px
  margin: 0 auto
  display: flex
  justify-content: space-between

.footer 
  display: flex
  // grid-template-rows: 5fr 1fr
  flex-direction: column
  // justify-content: center
  align-items: center

  background-color: var(--color-btns-and-heading-footer)
  color: #fff

  &__top
    // @include container-footer
    padding: 55px 0 28px
    width: 100%
    // display: grid
    // display: flex
    // grid-auto-flow: column
    // justify-content: stretch
  &__logo

  &__bottom
    // @include container-footer
    padding: 20px 0
    width: 100%
    text-align: center
    


  &__links

    &-quick

    &-others

    &-products


  &__subscribe-form

  

  &__copywright

  &__social-list

  &__social-item

  &__social-link


.links 
  &__title

  &__list

  &__item

  &__link



.form 
  max-width: 400px
  &__description

  &__form

  &__email

  &__btn


