/* http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Objective;
  font-style: normal;
  font-weight: 400;
  src: local("");
  src: url("../fonts/Objective-Regular.woff2") format("woff2");
  src: url("../fonts/Objective-Regular.woff") format("woff");
}
@font-face {
  font-family: Objective;
  font-style: normal;
  font-weight: 500;
  src: local("");
  src: url("../fonts/Objective-Medium.woff2") format("woff2");
  src: url("../fonts/Objective-Medium.woff") format("woff");
}
@font-face {
  font-family: Objective;
  font-style: normal;
  font-weight: 700;
  src: local("");
  src: url("../fonts/Objective-Bolt.woff2") format("woff2");
  src: url("../fonts/Objective-Bolt.woff") format("woff");
}
:root {
  --color-btns-and-heading-footer: #4A99D3;
  --color-text: #0F001A;
}

body {
  font-family: "Objective";
  color: var(--color-text);
}

.container {
  padding: 0 15px;
  max-width: 980px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}
.header__logo {
  font-size: 36px;
  font-weight: 700;
  font-family: sans-serif;
  color: var(--color-btns-and-heading-footer);
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav__link:hover {
  color: var(--color-btns-and-heading-footer);
}

@media (max-width: 420px) {
  .header__container {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
}
.hero {
  background: linear-gradient(#7aafd6 -17.33%, rgba(74, 153, 211, 0) 75.91%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.148);
}
.hero__container {
  display: flex;
  align-items: center;
  max-width: 1080px;
  height: 100vh;
  padding-top: 130px;
  transform: translateX(50px);
}
.hero__container::after {
  display: block;
  content: "";
  height: 65vh;
  width: 500px;
  background-image: url(../img/Mockup.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.hero__wrapper-block {
  max-width: 640px;
  margin-right: 32px;
  flex-shrink: 2;
  display: flex;
  flex-direction: column;
}
.hero__title {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
}
.hero__text {
  font-size: 20px;
  margin-top: 14px;
}
.hero__link {
  display: block;
  height: 60px;
  padding: 15px 25px;
  background-color: var(--color-btns-and-heading-footer);
  border-radius: 5px;
}
.hero__link-list {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: inline-flex;
  align-self: flex-start;
}
@media (max-width: 1250px) {
  .hero__container {
    transform: translateX(0px);
    max-width: 980px;
  }
}
@media (max-width: 850px) {
  .hero__container {
    flex-direction: column;
  }
  .hero__container::after {
    width: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .hero__wrapper-block {
    width: 100%;
    background: linear-gradient(rgba(122, 176, 214, 0.5176470588) -17.33%, rgba(74, 153, 211, 0) 75.91%), linear-gradient(0deg, rgba(255, 255, 255, 0.4823529412), rgba(255, 255, 255, 0.5294117647));
    height: 100vh;
    justify-content: space-evenly;
    margin-right: 0;
  }
}
@media (max-width: 500px) {
  .hero__wrapper-block {
    background: none;
  }
  .hero__container {
    padding-top: 80px;
    height: 160vh;
  }
  .hero__container::after {
    width: 100vw;
    position: initial;
    background-position: center;
  }
  .hero__title {
    font-size: 30px;
  }
  .hero__link {
    display: block;
    height: 60px;
    padding: 15px 25px;
    width: 100%;
  }
  .hero__link-list {
    margin-top: 0px;
    flex-wrap: wrap;
    width: 100%;
  }
  .hero__link-item {
    width: 100%;
  }
}
.services {
  position: relative;
}
.services__container {
  padding-top: 80px;
  padding-bottom: 150px;
}
.services__title {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.2777777778;
  max-width: 395px;
  color: #260041;
  transform: translateY(85%);
}
.services__cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 105px;
  row-gap: 110px;
}
.services::before {
  display: block;
  content: "";
  background: url(../img/services/top-square.svg);
  width: 200px;
  height: 208px;
  position: absolute;
  background-size: cover;
  top: 0px;
  right: 0px;
}
.services::after {
  display: block;
  content: "";
  background: url(../img/services/bottom-square.png);
  width: 200px;
  height: 208px;
  position: absolute;
  background-size: cover;
  bottom: 0;
  left: 0;
}

.card {
  position: relative;
  z-index: 100;
}
.card__wrapper {
  box-shadow: 5px 20px 50px 0px rgba(74, 153, 211, 0.2);
  padding: 48px;
  background-color: white;
}
.card::before {
  position: absolute;
  z-index: -1;
  display: block;
  content: "";
  width: 153px;
  height: 153px;
  background: url(../img/services/decoration-dots.svg);
}
.card__logo-wrapper {
  text-align: center;
  z-index: 100;
}
.card__image {
  height: 132px;
  width: auto;
}
.card__image_above {
  transform: scale(1.4) translateY(-30px);
}
.card__image_right {
  transform: translateX(-15%);
}
.card__title {
  margin-top: 55px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}
.card__text {
  margin-top: 16px;
  line-height: 1.625;
  opacity: 0.6;
}
.card__link {
  display: block;
  width: 160px;
  margin-top: 62px;
  color: var(--color-btns-and-heading-footer);
  line-height: 2;
  letter-spacing: 0.05em;
  transition: border-bottom ease-in 0.3s;
}
.card__link::after {
  display: block;
  content: "";
  display: inline-flex;
  height: 16px;
  width: 16px;
  background: url(../img/services/arrow-link.svg);
  margin-left: 20px;
  transform: translateY(3px);
}
.card__link:hover::after {
  -webkit-animation: move-link-arrow 0.3s linear forwards;
          animation: move-link-arrow 0.3s linear forwards;
}
.card__link:hover {
  border-bottom: 1px solid var(--color-btns-and-heading-footer);
}

#card1 {
  grid-row: span 2;
  align-self: center;
}
#card1::before {
  left: -110px;
  top: 50%;
}
#card2::before {
  right: -110px;
  top: -70px;
}

#card3::before {
  right: -110px;
  bottom: -70px;
}

@-webkit-keyframes move-link-arrow {
  0% {
    transform: translate(0px, 3px);
  }
  100% {
    transform: translate(20px, 3px);
  }
}

@keyframes move-link-arrow {
  0% {
    transform: translate(0px, 3px);
  }
  100% {
    transform: translate(20px, 3px);
  }
}
@media (max-width: 1250px) {
  #card2::before {
    right: -20px;
  }
  #card3::before {
    right: -20px;
  }
}
@media (max-width: 850px) {
  .services__container {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .services__cards-list {
    gap: 25px;
    row-gap: 25px;
  }
  .services__title {
    max-width: 289px;
    transform: translateY(50%);
  }
  .card__wrapper {
    padding: 30px;
  }
}
@media (max-width: 650px) {
  .services__cards-list {
    grid-template-columns: 1fr;
    row-gap: 100px;
  }
  .services__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .services__title {
    max-width: 100%;
    transform: translateY(0%);
    margin-bottom: 50px;
  }
}
.how-it-works {
  background-color: rgba(74, 153, 211, 0.1);
  padding: 95px 0;
}
.how-it-works__title {
  text-align: center;
  color: var(--color-btns-and-heading-footer);
  font-weight: 700;
  font-size: 26px;
}
.how-it-works__list {
  margin-top: 88px;
  display: flex;
  gap: 30px;
}
.how-it-works__step-card {
  max-width: 260px;
}

.steps-card {
  text-align: center;
  font-size: 18px;
}
.steps-card__picture-wrapper {
  height: 65px;
}
.steps-card__title {
  margin-top: 33px;
  font-weight: 500;
}
.steps-card__text {
  margin-top: 10px;
  line-height: 1.625;
}

@media (max-width: 500px) {
  .how-it-works__list {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */