/* http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("");
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
  src: url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("");
  src: url("../fonts/roboto-v30-latin-900.woff2") format("woff2");
  src: url("../fonts/roboto-v30-latin-900.woff") format("woff");
}
:root {
  --border-color: #d0d0d0cd;
  --background-color: #e5e5e5cd;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  padding: 0 15px;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1170px;
  padding: 70px 60px 50px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--background-color);
}

.profile__title {
  font-size: 34px;
  font-weight: bold;
}
.profile__ages {
  margin-top: 30px;
  font-size: 25px;
  font-weight: bold;
}
.profile__description-main-short {
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
}
.profile__description-full {
  margin-top: 15px;
  padding: 5px;
  border: 1px solid var(--border-color);
}
.profile__image {
  width: 400px;
  height: 420px;
  border-radius: 600px;
}
.profile__image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 5px;
  border: 1px solid var(--border-color);
}
.profile__image-caption {
  background-color: var(--border-color);
  width: 100%;
  padding: 10px 0;
}
.profile__list {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: start;
  list-style: initial;
}
.profile__list-title {
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
}
.profile__list-text {
  display: inline;
}
.profile__list-item {
  margin-top: 5px;
}
.profile__list-item > strong {
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */