@import ./reset.sass
@import ./fonts.sass
@import ./mixins.sass

:root
  --color-btns-and-heading-footer: #4A99D3
  --color-text: #0F001A

body
  font-family: 'Objective'
  color: var(--color-text)

.container 
  padding: 0 15px
  max-width: 980px
  margin: 0 auto


@import ./header.sass
@import ./hero.sass
@import ./services.sass
@import ./how-it-works.sass
@import ./reviews.sass
@import ./download.sass
@import ./footer.sass


