@import reset.sass
@mixin header-footer
  grid-column: 1/4
  

  text-align: center
  

  font-size: 25px
  font-weight: bold
  &>*
    line-height: 100px
@mixin content
  padding: 20px
  grid-row: 2/5
  


.container
  height: 100vh
  width: 100vw

  display: grid
  grid-template-rows: 100px 60px 1fr 60px 100px
  grid-template-columns: 150px 1fr 150px


.header 
  @include header-footer
  
  background-color: #4c51ee
  
  &__title
    color: white

    

.nav
  @include content
  background-color: orange
  &__title


.main
  @include content
  background-color: white

  padding: 20px
  &__title
    font-weight: bold
  &__text
    margin-top: 20px



.related-links
  @include content
  background-color: purple

  &__title
    color: white



.footer 
  @include header-footer
  grid-row: 5

  background-color: green
  &__title
    color: white
    
    text-align: center

@media only screen and (max-width: 700px)
  .main,
  .nav,
  .related-links
    grid-row: initial
    grid-column: 1/4
        

